[submodule "Server"]
	path = Server
	url = https://github.com/kai-blt/EQMacEmu
[submodule "Quests"]
	path = Quests
	url = https://github.com/kai-blt/quests
[submodule "Maps"]
	path = Maps
	url = https://github.com/kai-blt/Maps
